<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.ninetynineapps.vehiclemanager">

    <!-- Normal Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".common.AppController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/AD_MOB_APPLICATION_ID" />

        <activity
                android:exported="true"
                android:name=".activities.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.NoInternetActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.VehicleDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.VehicleCategories"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.RefuelListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.RefuelDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.ServiceListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.ServiceDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.ExpenseListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.ExpenseDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.InsuranceListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.InsuranceDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.PermitListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.PermitDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.PUCListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.PUCDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.AccidentListActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".activities.AccidentDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".activities.SummaryActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize" />


        <service
            android:exported="false"
            android:name=".notifications.AlarmService" />

        <receiver
            android:exported="false"
                android:name=".notifications.AlarmReceiver"
                android:enabled="true" />
        <receiver
            android:exported="false"
                android:name=".notifications.OnBootReceiver"
                android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
                android:name=".pushnotification.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name="com.google.firebase.components.ComponentDiscoveryService" >
            <meta-data
                    android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                    android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>

</manifest>